body {
  background-color: #2e3440;
  color: #e5e9f0;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

.title {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

.inline {
  display: inline-block;
}

.page-title {
  margin-bottom: 0px;
  margin-right: 20px;
  margin-top: 0px;
}

.donation {
  display: inline-block;
  margin-top: 0px;
  max-width: 500px;
  vertical-align: top;
  word-wrap: break-word;
}

hr {
  color: #d8dee9;
}

h1 {
  font-size: 36px;
}

p {
  max-width: 750px;
}

a {
  color: #e5e9f0;
}
