body {
    background-color: #2e3440;
    flex-direction: column;
    color: #e5e9f0;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}

.inline {
    display: inline-block;
}

.page-title {
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 0px;
}

hr {
    color: #d8dee9;
}

h1 {
    font-size: 36px;
}

p {
    width: 750px;
}

a {
    color: #e5e9f0;
}
